@charset 'utf-8';

*{margin: 0;padding: 0;}
html,body{font-size: 12px; color: #333; font-family: 'NanumSquare', sans-serif !important;}
img{vertical-align: bottom;}
button{border: none; background: transparent;}
a{text-decoration: none; color: inherit;}
h1,h2,h3,h4,h5,h6{font-size: 100%;}
::selection {
    background: rgba(255, 216, 0, 0.99);
    color: #333;
}
h1,h2,h3,h4,h5,h6{font-size: 100%;}
ol,ul{list-style: none;}
@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-1Thin'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-7ExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; }

#warp{
    width: 100%;
}
.boxalign{
    width: 1150px;
    margin: auto;
}
.bar{
    width: 100%;
    height: 85px;
/*    background: #ccc;*/
    position: absolute;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 98;
}

header{
    position: absolute;
    z-index: 99;
    width: 1377px;
    margin-left: 272px;
}

#logo{
    float: left;
/*    margin-left: 236px;*/
    margin-top: 30px;
}
nav{
    margin-top: 33px;
    text-transform: uppercase;
}
nav div{
    float: left;
}
nav div:nth-child(1){
    margin-left: 436px;
}
nav div a{
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
}
nav div:hover span{
    width: 110%;
}
nav div span{
    display: block;
    width: 0px;
    height: 12px;
    background: rgba(255, 216, 0, 0.99);
    margin: -12px 0 0 -5px;
    transition: 0.3s;
    border-radius: 50px;
}
nav .menu1{
    margin-left: 65px;
}
nav .menu2{
    margin-left: 65px;
}
nav .menu3{
    margin-left: 65px;
}
nav .menu4{
    float: right;
}

main{
    width: 100%;
    height: 1720px;
    background-color: #fbfbfb;
}

.mtitletop{
    height: 987px;
/*    padding-left: 10px;*/
}
.mtitletop ul{
    padding-top: 200px;
}
.mtitletop ul .left{
    float: left;
    padding-top: 80px;
}
.left h2{
    font-size: 48px;
    font-weight: 400;
    padding: 0 45px 50px 0;
    border-bottom: 1px solid #555555;
    line-height: 1.4;
}
.left table{
    margin-top: 50px;
    font-size: 18px;
    height: 95px;
}
.left table tr{
    width: 100%;
}
.left table tr th{
    font-weight: bold;
    color: #724df7;
}
.left table tr td{
/*    letter-spacing: 10px;*/
    padding-left: 40px;
}
.left img{
    margin-top: 65px;
}

.mtitletop ul .right{
    float: right;
    width: 550px;
}


.mtitlebottom{}
h3{
    font-weight: bold;
    color: #724df7;
    font-size: 18px;
}
.mtitlebottom ul#list{}
#list .bt{
    border-radius: 5px 5px 0 0;
}
#list .bb h4{
    font-size: 18px;
    padding-bottom: 15px;
}
#list .bb{
    padding: 31px 24px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}
#list .bb span{
    font-size: 16px;
    line-height: 1.4;
}
#list li{
    width: 313px;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.1);
    margin: 64px 0 0 57px;
}
#list .box1{
    float: left;
}
.box1 .bt{
    width: 313px;
    height: 300px;
    background-color: #724df7;
    position: relative;
}
.box1 .bt img{
    position: absolute;
    top: 20%;
    left: 21%;
}
#list .box2{
    float: left;
}
.box2 .bt{
    width: 313px;
    height: 300px;
    background-color: #ffba5e;
    position: relative;
}
.box2 .bt img{
    position: absolute;
    top: 45%;
    left: 18%;
}
#list .box3{
    float: left;
}
.box3 .bt{
    width: 313px;
    height: 300px;
    background-color: #724df7;
    position: relative;
    color: #efefef;
    padding: 70px 40px;
    box-sizing: border-box;
}
.bt .top{
    font-size: 45px;
    font-weight: bold;
    line-height: 0.9;
}
.bt .bottom{
    margin-top: 63px;
}
.bottom table{
    margin: auto;
    font-size: 20px;
}
.bottom table tr{}
.bottom table th{
    border-right: 1px solid #efefef;
    padding: 0 13px;
}
.bottom table td{
    padding: 0 13px;
}
.bottom table td+td{
    font-weight: 100;
    border-left: 1px solid #efefef;
}

main .mainbg{
    background: url(../img/sub1_main_bottom_bg.png);
    width: 1527px;
    height: 643px;
    bottom: 0;
    margin: auto;
}

section{}

#con1{
    height: 753px;
    width: 100%;
    background-color: #e5e5e5;
    overflow: hidden;
    position: relative;
}
#con1 .con1_1{
    margin-top: 120px;
    position: absolute;
    z-index: 99;
}
#con1 .phoneimg{
    margin-left: 200px;
}
#con1 .phoneimg li{
    float: left;
    padding-right: 48px;
}
#con1 .phoneimg li img{
    border-radius: 46px;
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1);
}

@keyframes circle1{
    0%{transform: translate(0);}
    100%{transform: translate(0,160px);}
}
#con1 .circle{
    animation: circle1 10s linear infinite alternate;
    background: url(../img/sub1_section_con1_circle.png);
    width: 96px;
    height: 96px;
    position: absolute;
    top: 250px;
    left: 510px;
}
#con1 .con1bg{
    background: url(../img/sub1_section_con1_bgimg1.png);
    width: 1223px;
    height: 403px;
    bottom: -40px;
    left: 280px;
    position: absolute;
}

#con2{
    height: 753px;
    width: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
}
.con2_1{
    width: 1253px;
    margin: auto;
}
.con2left{
    margin-top: 170px;
}
.con2left .phoneimg li{
    float: left;
    padding-right: 51px;
}
.con2left .phoneimg li img{
    border-radius: 46px;
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1);
}

.con2right{
    overflow: hidden;
    padding: 96px 0 0 32px;
}

.con2rt{
}
.con2rt .number{
    background-color: #4a4438;
    width: 20px;
    height: 20px;
    color: #f2f2f2;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    line-height: 1.4;
    float: left;
}
.con2text{
    float: left;
    padding-left: 5px;
}
.con2text h5{
    font-size: 20px;

}
.con2text span{
    display: block;
    font-size: 16px;
    line-height: 1.4;
    padding-top: 10px;
    width: 400px;
}
.con2rb{
    float: left;
    margin-top: 52px;
}
.con2rb .number2{
    background-color: #4a4438;
    width: 20px;
    height: 20px;
    color: #f2f2f2;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    line-height: 1.4;
    float: left;
}

.con2text2{
    float: left;
    padding-left: 5px;
}
.con2text2 h5{
    font-size: 20px;

}
.con2text2 span{
    display: block;
    font-size: 16px;
    line-height: 1.4;
    padding-top: 10px;
    width: 400px;
}

.con2text2 span img{
    padding-top: 23px;
}


#con3{
    height: 753px;
    width: 100%;
    background-color: #d8d8d8;
    overflow: hidden;
}
#con3 .con3_1{
    width: 754px;
    margin: auto;
}

.con3_1 .phoneimg{}
.con3_1 .phoneimg ul{
    margin-top: 170px;
}
.con3_1 .phoneimg ul li{
    float: left;
    padding-right: 51px;
    position: relative;
}
.con3_1 .phoneimg ul li img{
    border-radius: 46px;
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1);
}
.con3_1 .phoneimg ul li button{
    position: absolute;
    width: 30px;
    height: 20px;
/*    background: #ccc;*/
}

.modify{
    top: 255px;
    left: 128px;
    cursor: pointer;
}
.memo{
    bottom: 125px;
    left: 38px;
    cursor: pointer;
}

.con3_1 .phoneimg ul li .hide1{
    position: absolute;
    background: url(../img/sub1_section_con3_img3.png);
    width: 288px;
    height: 512px;
    top: 80px;
    left: 19px;
    display: none;
}
.con3_1 .phoneimg ul li .hide2{
    position: absolute;
    background: url(../img/sub1_section_con3_img4.png);
    width: 288px;
    height: 512px;
    top: 80px;
    left: 19px;
    display: none;
}

#con4{
    height: 862px;
    width: 100%;
    background-color: #7a42ff;
    overflow: hidden;
    position: relative;
}
.con4_1{
    width: 950px;
    margin: auto;
}

.con4left{
    float: left;
    color: #ffba5e;
    margin-top: 83px;
    z-index: 1;
}
.con4left h5{
    font-size: 16px;
}
.con4left span{
    display: block;
    width: 1px;
    height: 140px;
    background-color: #ffba5e;
    margin: 210px 0 173px 0;
}

.con4left h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
}
.con4right img{
    float: left;
    position: absolute;
    left: 37%;
}

#con5{
    height: 3012px;
    width: 100%;
    background-color: #f2f2f2;
}
.con5_1{
    width: 740px;
    margin: auto;
}

.con5top{
    padding-top: 108px;
    position: relative;
}
.con5top .deco{
    position: absolute;
    left: -36%;
    top: 565%;
}
.con5top ul{
/*    overflow: hidden;*/
}
.con5top ul li{
    float: left;
}
.con5top ul li+li{
    padding-left: 41px;
}
.con5top ul li img{
    border-radius: 46px;
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1);
}
.con5top ul li .con5title{
    padding: 35px 0 51px 41px;
}
.con5title .ttop{
    overflow: hidden;
}
.con5title .ttop h4{
    font-size: 25px;
    float: left;
}
.con5title .ttop .plusline{
    float: left;
    margin: 1px 0 0 5px;
}
.con5title .ttop .plusline .bar1{
    display: block;
    width: 3px;
    height: 23px;
    background-color: #724aff;
    margin-left: 10px;
}
.con5title .ttop .plusline .bar2{
    display: block;
    width: 23px;
    height: 3px;
    background-color: #724aff;
    margin-top: -13px;
}
.con5title .line{
    position: relative;
    margin: 24px -5px;
}
.con5title .line span.bar3{
    display: block;
    width: 75px;
    height: 3px;
    background-color: #3e3a39;
    position: absolute;
    bottom: -1px;
}
.con5title .line span.bar4{
    display: block;
    width: 243px;
    height: 1px;
    background-color: rgba(62, 58, 57, 0.5);
}
.con5title span{
    display: block;
    font-size: 15px;
    line-height: 1.5;
}

.con5bottom{
    float: left;
    width: 362px;
    text-align: center;
    margin: 100px 190px;
    position: relative;
}

.con5bottom h5{
    font-size: 20px;
    margin-bottom: 20px;
}

.con5bottom .con5img{
    border-radius: 46px;
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1);
}

.con5bottom .deco2{
    position: absolute;
    right: -60%;
    top: 22%;
}

@keyframes circle2{
    0%{transform: translate(0);}
    100%{transform: translate(0,260px);}

}
.con5bottom .deco3{
    animation: circle2 10s linear infinite alternate;
    position: absolute;
    right: -46%;
    top: 32%;
}

#con6{
    height: 862px;
    width: 100%;
    background-color: #7a42ff;
    overflow: hidden;
    position: relative;
}

.con6_1{
    width: 950px;
    margin: auto;
}

.con6left{
    float: left;
    color: #ffba5e;
    margin-top: 123px;
    z-index: 1;
}
.con6left h5{
    font-size: 16px;
}
.con6left span{
    display: block;
    width: 1px;
    height: 140px;
    background-color: #ffba5e;
    margin: 210px 0 173px 0;
}

.con6left h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
}
.con6right img{
    float: left;
    position: absolute;
    right: 20%;
    border-radius: 46px;
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1);
    top: 11%;
}

#con7{
    height: 753px;
    width: 100%;
    background-color: #e5e5e5;
    overflow: hidden;
}

.con7_1{
    width: 1470px;
    margin: auto;
}
.con7_1 ul{
    
}
.con7_1 ul li{
    float: left;
    margin-left: 40px;
    border-radius: 46px;
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1);
    margin-top: 170px;
}
.con7_1 ul .con7list1{
    background: url(../img/sub1_section_con7_img1.png);
    width: 326px;
    height: 677px;
}
.con7_1 ul .con7list2{
    background: url(../img/sub1_section_con7_img2.png);
    width: 326px;
    height: 677px;
}
.con7_1 ul .con7list3{
    background: url(../img/sub1_section_con7_img3.png);
    width: 326px;
    height: 677px;
}
.con7_1 ul .con7list4{
    background: url(../img/sub1_section_con7_img4.png);
    width: 326px;
    height: 677px;
}

#con8{
    height: 753px;
    width: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
}

.con8_1{
    width: 840px;
    margin: auto;
}
.con8_1 ul{
    margin-top: 78px;
}
.con8_1 ul li{
    float: left;
    margin-right: 30px;
}
.con8_1 ul li+li{
    margin-top: 100px;
}
.con8_1 ul .con8list1{
    background: url(../img/sub1_section_con8_img1.png);
    width: 294px;
    height: 611px;
    border-radius: 46px;
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1);
}
.con8_1 ul .con8list2{
    background: url(../img/sub1_section_con8_img2.png);
    width: 228px;
    height: 405px;
    border-radius: 3px;
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1);
}
.con8_1 ul .con8list3{
    background: url(../img/sub1_section_con8_img3.png);
    width: 228px;
    height: 405px;
    border-radius: 3px;
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1);
}


